.MainWindow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 10px auto;

}
.gradient-dark-grey2 {
  background: linear-gradient(45deg, #d6d6d6 0%, #e8e8e8 100%);
  position: relative;
  height: 450px;width: 450px;
  padding: 10px;
  border-radius: 10px;
}
.gradient-blue2 {
  background: linear-gradient(45deg, #6ac3f3 0%, #8ccff3 100%);
  position: relative;
  width: 450px; padding: 10px;
  border-radius: 10px;
  height: 450px;
}
.card-title {
  padding: 15px;
  font-size: 26px;
}
@media only screen and (max-width: 320px) {
 
  .gradient-dark-grey2 {
    width: 300px;
    height: 300px;
  }
  .gradient-blue2 {
    width: 300px;
    height: 300px;
  }
  
}
@media only screen and (max-width: 375px) {
  .gradient-dark-grey2 {
    width: 350px;
    height: 350px;
  }
  .gradient-blue2 {
    width: 350px;
    height: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gradient-dark-grey2 {
    width: 450px;
    height: 450px;
  }
  .gradient-blue2 {
    width: 450px;
    height: 450px;
  }
}
