.MainWindow {
  display: flex;
  margin: 100px 60px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 25px auto;
}
.gradient-dark-grey2 {
  background: linear-gradient(45deg, #d6d6d6 0%, #e8e8e8 100%);
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 10px;
}
.gradient-blue2 {
  background: linear-gradient(45deg, #6ac3f3 0%, #8ccff3 100%);
  position: relative;
  width: 450px;
  border-radius: 10px;
  height: 450px;
}
.card-title {
  padding: 15px;
  font-size: 26px;
}
