body{
  margin: 0;
  
}


.gradient-vertical-strip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  border-radius: 0 10px 10px 0;
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 70%);
}
.gradient-vertical-strip-grey {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  border-radius: 0 10px 10px 0;
  background: #ffffff;
  background: linear-gradient(180deg, rgba(167, 167, 167, 0.3) 0%, rgba(181, 181, 181, 0.2) 30%, rgba(255, 255, 255, 0) 70%);
}